<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Student info</title>
</head>
<div th:align="center">
    <h1>Students</h1>

    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a href="/new">Add Student</a>
    </div>

    <table th:border="1" th:cellpadding="10">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student City</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentList}">
            <td th:text="${student.getStudentId()}">Student ID</td>
            <td th:text="${student.getStudentName()}">Student Name</td>
            <td th:text="${student.getStudentAge()}">Student Age</td>

            <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <a th:href="@{'/edit/' + ${student.getStudentId()}}">Edit</a>
                </div> &nbsp;&nbsp;&nbsp;
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{'/delete/' + ${student.getStudentId()}}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
